<mat-card class="tw-flex tw-flex-col tw-h-full tw-w-full tw-content-center tw-border tw-rounded-2xl">
    
    <mat-card-header class="!tw-p-0 tw-flex tw-justify-center tw-w-full tw-h-[40%]">
        <div class="tw-flex tw-justify-center tw-items-center tw-w-full tw-h-full">
            <p class="!tw-m-0 tw-text-lg">Segundos</p>
        </div>
    </mat-card-header>

    <mat-card-content class="!tw-p-0 !tw-flex tw-flex-col tw-items-center tw-justify-center tw-h-[60%]">
        <div class="tw-flex tw-justify-center tw-items-center tw-w-full tw-h-full">
            <p class="!tw-m-0 tw-text-4xl tw-font-bold">{{relativeSeconds}}</p>
        </div>
    </mat-card-content>

</mat-card>
