<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<div class="times tw-flex max-sm:tw-flex-col max-[800px]:tw-flex-col tw-justify-around tw-content-evenly">
    <app-years 
    class="tw-content-center tw-min-h-[250px] tw-min-w-[150px] tw-border tw-rounded-2xl 2xl:tw-mx-[80px] xl:tw-mx-[60px] lg:tw-mx-[40px]  md:tw-mx-[20px] sm:tw-mx-0"
    [timePassed$]="timePassed$"
    ></app-years>
    
    <app-months 
    class="tw-content-center tw-min-h-[250px] tw-min-w-[150px] tw-border tw-rounded-2xl 2xl:tw-mx-[80px] xl:tw-mx-[60px] lg:tw-mx-[40px]  md:tw-mx-[20px] sm:tw-mx-0"
    [timePassed$]="timePassed$"
    ></app-months>

    <app-days 
    class="tw-content-center tw-min-h-[250px] tw-min-w-[150px] tw-border tw-rounded-2xl 2xl:tw-mx-[80px] xl:tw-mx-[60px] lg:tw-mx-[40px]  md:tw-mx-[20px] sm:tw-mx-0"
    [timePassed$]="timePassed$"
    ></app-days>

    <app-hours 
    class="tw-content-center tw-min-h-[250px] tw-min-w-[150px] tw-border tw-rounded-2xl 2xl:tw-mx-[80px] xl:tw-mx-[60px] lg:tw-mx-[40px]  md:tw-mx-[20px] sm:tw-mx-0"
    [timePassed$]="timePassed$"
    ></app-hours>

    <app-minutes 
    class="tw-content-center tw-min-h-[250px] tw-min-w-[150px] tw-border tw-rounded-2xl 2xl:tw-mx-[80px] xl:tw-mx-[60px] lg:tw-mx-[40px]  md:tw-mx-[20px] sm:tw-mx-0"
    [timePassed$]="timePassed$"
    ></app-minutes>

    <app-seconds
    class="tw-content-center tw-min-h-[250px] tw-min-w-[150px] tw-border tw-rounded-2xl 2xl:tw-mx-[80px] xl:tw-mx-[60px] lg:tw-mx-[40px]  md:tw-mx-[20px] sm:tw-mx-0"
    [timePassed$]="timePassed$"
    ></app-seconds>
</div>