<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<div 
    *ngIf="timePassed$ | async as timePassed"
    class="tw-flex max-sm:tw-flex-col max-sm:tw-items-center max-[800px]:tw-flex-col tw-justify-around tw-content-evenly"
>
    
    <time-unit-card
    (click)="expand('YEARS')"
    [timeUnit]="'Anos'"
    [absoluteTime]="timePassed.years.absolute!"
    [relativeTime]="timePassed.years.relative!"
    [isExpanded]="expandedCard === 'YEARS'"
    [isCollapsed]="expandedCard !== null && expandedCard !== 'YEARS'"
    class="common-style"
    [ngClass]="{
        'default-height': expandedCard === null,
        'collapsed-height': expandedCard !== null && expandedCard !== 'YEARS',
        'expanded-height': expandedCard === 'YEARS',
    }"
    ></time-unit-card>
    
    <time-unit-card
    (click)="expand('MONTHS')"
    [timeUnit]="'Meses'"
    [absoluteTime]="timePassed.months.absolute!"
    [relativeTime]="timePassed.months.relative!"
    [isExpanded]="expandedCard === 'MONTHS'"
    [isCollapsed]="expandedCard !== null && expandedCard !== 'MONTHS'"
    class="common-style"
    [ngClass]="{
        'default-height': expandedCard === null,
        'collapsed-height': expandedCard !== null && expandedCard !== 'MONTHS',
        'expanded-height': expandedCard === 'MONTHS',
    }"
    ></time-unit-card>

    <time-unit-card
    (click)="expand('DAYS')"
    [timeUnit]="'Dias'"
    [absoluteTime]="timePassed.days.absolute!"
    [relativeTime]="timePassed.days.relative!"
    [isExpanded]="expandedCard === 'DAYS'"
    [isCollapsed]="expandedCard !== null && expandedCard !== 'DAYS'"
    class="common-style"
    [ngClass]="{
        'default-height': expandedCard === null,
        'collapsed-height': expandedCard !== null && expandedCard !== 'DAYS',
        'expanded-height': expandedCard === 'DAYS',
    }"
    ></time-unit-card>

    <time-unit-card
    (click)="expand('HOURS')"
    [timeUnit]="'Horas'"
    [absoluteTime]="timePassed.hours.absolute!"
    [relativeTime]="timePassed.hours.relative!"
    [isExpanded]="expandedCard === 'HOURS'"
    [isCollapsed]="expandedCard !== null && expandedCard !== 'HOURS'"
    class="common-style"
    [ngClass]="{
        'default-height': expandedCard === null,
        'collapsed-height': expandedCard !== null && expandedCard !== 'HOURS',
        'expanded-height': expandedCard === 'HOURS',
    }"
    ></time-unit-card>

    <time-unit-card
    (click)="expand('MINUTES')"
    [timeUnit]="'Minutos'"
    [absoluteTime]="timePassed.minutes.absolute!"
    [relativeTime]="timePassed.minutes.relative!"
    [isExpanded]="expandedCard === 'MINUTES'"
    [isCollapsed]="expandedCard !== null && expandedCard !== 'MINUTES'"
    class="common-style"
    [ngClass]="{
        'default-height': expandedCard === null,
        'collapsed-height': expandedCard !== null && expandedCard !== 'MINUTES',
        'expanded-height': expandedCard === 'MINUTES',
    }"
    ></time-unit-card>

    <time-unit-card
    (click)="expand('SECONDS')"
    [timeUnit]="'Segundos'"
    [absoluteTime]="timePassed.seconds.absolute!"
    [relativeTime]="timePassed.seconds.relative!"
    [isExpanded]="expandedCard === 'SECONDS'"
    [isCollapsed]="expandedCard !== null && expandedCard !== 'SECONDS'"
    class="common-style"
    [ngClass]="{
        'default-height': expandedCard === null,
        'collapsed-height': expandedCard !== null && expandedCard !== 'SECONDS',
        'expanded-height': expandedCard === 'SECONDS',
    }"
    ></time-unit-card>
</div>