<div class="times tw-block tw-justify-around tw-content-evenly">
    <app-years 
    class="tw-content-center"
    [timePassed$]="timePassed$"
    ></app-years>
    
    <app-months 
    class="tw-content-center"
    [timePassed$]="timePassed$"
    ></app-months>

    <app-days 
    class="tw-content-center"
    [timePassed$]="timePassed$"
    ></app-days>

    <app-hours 
    class="tw-content-center"
    [timePassed$]="timePassed$"
    ></app-hours>

    <app-minutes 
    class="tw-content-center"
    [timePassed$]="timePassed$"
    ></app-minutes>

    <app-seconds 
    class="tw-content-center"
    [timePassed$]="timePassed$"
    ></app-seconds>
</div>